<div class="border row px-2 py-2">
  <small><%= distance_of_time_in_words_to_now comment.created_at %> ago</small>
  <p><strong><%= comment.name %>:</strong></p>
  <p><%= comment.comment %></p>
</div>